<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>LoginViewController</string>
		<key>description</key>
		<string>登录</string>
		<key>identifier</key>
		<string>memberlogin</string>
	</dict>
	<dict>
		<key>className</key>
		<string>UserCenterViewController</string>
		<key>description</key>
		<string>个人中心</string>
		<key>identifier</key>
		<string>member</string>
	</dict>
	<dict>
		<key>className</key>
		<string>HomeViewController</string>
		<key>description</key>
		<string>平台首页</string>
		<key>identifier</key>
		<string>home</string>
	</dict>
	<dict>
		<key>className</key>
		<string>CartViewController</string>
		<key>description</key>
		<string>平台购物车</string>
		<key>identifier</key>
		<string>shopcart</string>
	</dict>
	<dict>
		<key>className</key>
		<string>CategoryViewController</string>
		<key>description</key>
		<string>平台分类</string>
		<key>identifier</key>
		<string>category</string>
	</dict>
	<dict>
		<key>className</key>
		<string>OrderListViewController</string>
		<key>description</key>
		<string>订单列表</string>
		<key>identifier</key>
		<string>orderlist</string>
	</dict>
	<dict>
		<key>className</key>
		<string>OrderDetailViewContoller</string>
		<key>description</key>
		<string>订单详情</string>
		<key>identifier</key>
		<string>orderDetail</string>
	</dict>
	<dict>
		<key>className</key>
		<string>GoodDetailViewController</string>
		<key>description</key>
		<string>商品详情</string>
		<key>identifier</key>
		<string>goodDetail</string>
	</dict>
</array>
</plist>
